#cotizador{
    display: flex;
    justify-content: space-around;
}

#titulo{
    padding-left: 250px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo2{
    font-size: 25px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.destinos{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    
}

#resultado {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 30px;
    padding-left: 80px;
    height: 450px;
    width: 450px;
    
}

.listado{
   display: flex;
   justify-items: center;
   padding-top: 30px;
   padding-right: 25px;
}

.lista {
    list-style: none;
    display: flex;
    color: black;
    font-size: 20px;
}

#cotizador{
    display: flex;
    justify-content: space-around;
}

#origen {
    width: 350px;
    display: inline-block;
}

#destino {
    width: 350px;
    display: inline-block;
}

#largo {
    width: 350px;
    display: inline-block;
}

#ancho {
    width: 350px;
    display: inline-block;
}

#alto {
    width: 350px;
    display: inline-block;
}